@page
@model JoinedChallengesModel
@{
    ViewData["Title"] = "Joined Challenges";

    var imagePaths = new List<string>
{
"/browse_photo_pool/1.jpg",
"/browse_photo_pool/2.jpg",
"/browse_photo_pool/3.jpg",
"/browse_photo_pool/4.jpg",
"/browse_photo_pool/5.jpg",
"/browse_photo_pool/6.jpg",
"/browse_photo_pool/7.jpg"
};

    var additionalImagePool = new List<string>
{
"/joined_photo_pool/dynamic_pool/1.jpg",
"/joined_photo_pool/dynamic_pool/2.jpg",
"/joined_photo_pool/dynamic_pool/3.jpg",
};
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<head>
    <style>
    .additional-photo {
        margin-top: 70px;
    }
</style>
</head>

<br>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="mb-4">Joined Challenges</h2>
            
                <div class="row">
                    @foreach (var joinedChallenge in Model.JoinedChallenges)
                    {
                        var imagePath = imagePaths[joinedChallenge.Challenge.Id % imagePaths.Count];
                        <div class="col-md-6 mb-4">
                            <div class="card box-shadow">
                                <img class="card-img-top" src="@imagePath" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title">@joinedChallenge.Challenge.Category</h3>
                                    <p class="card-text">Difficulty Level: @joinedChallenge.Challenge.DifficultyLevel</p>
                                    <p class="card-text">Period: @joinedChallenge.Challenge.Period</p>
                                    <p class="card-text">Join Date: @joinedChallenge.JoinDate.ToShortDateString()</p>
                                    <hr>
                                    <h4>Instructions:</h4>
                                    <p>@joinedChallenge.Challenge.Instructions</p>
                                    <form onsubmit="return confirmLeave()" method="post" asp-page-handler="LeaveChallenge"
                                        handler="OnPostLeaveChallengeAsync"
                                        asp-route-challengeId="@joinedChallenge.Challenge.Id">
                                        <button type="submit" class="btn btn-danger">Leave Challenge</button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.JoinedChallenges.Count > 2)
            {
                <div class="col-md-4">
                    @for (var i = 2; i < Model.JoinedChallenges.Count; i++)
                    {
                        var challenge = Model.JoinedChallenges[i];
                        var imagePath = additionalImagePool[(i - 2) % additionalImagePool.Count];
                        <div class="card mb-3 box-shadow additional-photo">
                            <img class="card-img-top" src="@imagePath" alt="Additional Photo">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<script>
    function confirmLeave() {
        return confirm("Are you sure you want to leave this challenge?");
    }
    
</script>
